<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiappf9dd2bcab98e46909f4b22de40382044.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiappf9dd2bcab98e46909f4b22de40382044.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiAppf9dd2bcab98e46909f4b22de40382044</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>EKMobilesApi</AppServiceName>
    <ResourceGroupName>mogroup</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiAppf9dd2bcab98e46909f4b22de40382044</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EKDBEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EKApi.Models.EKDBEntities, EKApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EKDBEntities2" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EKApi.Models.EKDBEntities2, EKApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EKDBEntities1" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EKApi.Models.EKDBEntities1, EKApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:modb.database.windows.net,1433;Initial Catalog=EKDB;User ID=moadmin@modb;Password=ekB00278908;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="  Server=tcp:modb.database.windows.net,1433;Database=EKDB;User ID=moadmin@modb;Password=ekB00278908;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30; " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EKDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EKDBEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EKDBEntities2-Web.config Connection String" />
  </ItemGroup>
</Project>