<div ng-hide="attrs.id">    
    <button class="cartbtn btn-5 btn-5a glyphicon glyphicon-shopping-cart" ng-disabled="true" ng-transclude><span>Add to cart</span></button>
</div>
<div ng-show="attrs.id">
    <div ng-hide="inCart() || qtyOpt==0">
        <button class="cartbtn btn-5 btn-5a glyphicon glyphicon-shopping-cart" ng-click="ngCart.addItem(id, name, price, 1, data)"><span>Add to cart</span></button>
    </div>
    <div ng-show="inCart()">
        <mark >
            This item is in your cart.
        </mark>
        <button class="cartbtn btn-5 btn-5a glyphicon glyphicon-remove-sign" ng-click="ngCart.removeItemById(id)"><span>Remove</span></button>
    </div>
    <mark ng-show="qtyOpt==0">
        Out of stock
    </mark>
</div>