<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" >
           
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <div style="width:100%">
                
            </div>
        </div>
        <div class="col-md-8">
            <h1>MOBILE STORE HOME</h1>
        </div>        

        <hr>
        <!--<div class="layer">{{ home | json}}</div>-->
        <ul rn-carousel class="image">
            <li ng-repeat="image in home.slides">
                <div class="layer">{{ image.image }}</div>
            </li>
        </ul>
        <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
    </div>
</div>